services:
    db:
        image: postgres:16
        container_name: postgres-db-apps-moviles
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: apps-moviles
        ports:
            - '5432:5432'
        volumes:
            - postgres-data:/var/lib/postgresql/data

volumes:
    postgres-data:
